Keras==2.4.3
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorboardcolab==0.0.22
tensorflow==2.5.3
tensorflow-addons==0.8.3
tensorflow-datasets==2.1.0
tensorflow-estimator==2.3.0
tensorflow-gcs-config==2.3.0
tensorflow-hub==0.8.0
tensorflow-metadata==0.22.2
tensorflow-privacy==0.2.2
tensorflow-probability==0.11.0
Flask==1.1.2
matplotlib==3.2.2
numpy==1.18.5
scipy==1.4.1
gunicorn==20.0.4
