<!DOCTYPE html>
<html>
    <head>
        <title>Noah Madrid</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel = "icon" href =  "static/logo.png" type = "image/x-icon"> 
    </head>

    <body>
        <header>
            <img src="static/me.jpg" class="profile-img">
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="cats">Cat Face Generator</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="home">
                <div class="section-inner">
                    <img src="static/me.jpg" class="profile-img">
                    <h1>Hi, I'm Noah Madrid.</h1>
                </div>
            </section>
            <section id="about">
                <div class="section-inner">
                    <h2>About me</h2>
                    <p>I'm a Computer Science and Japanese graduate from Calvin University currently in a year of service with Americorps NCCC Femacorps.</p>
                    <h3>Achievements</h3>
                    <ul>
                        <li>Graduated from Calvin University</li>
                        <li>Lived and studied in Hikone,Japan, Fall Semester 2019</li>
                        <li>I used machine learning to generate cat pictures with GAN</li>
                        <li>For my senior project I used machine learning models to generate paraphrases of a sentence</li>
                    </ul>
                </div>
            </section>
            <section id="contact">
                <div class="section-inner">
                    <h2>Contact me</h2>
                    <p>You can find me on:</p>
                    <ul>
                        <li><a href="https://github.com/Nmad7">Github</a></li>
                        <li><a href="https://www.instagram.com/themachomadrid/">Instagram</a></li>
                    </ul>
                    <p>Or, you can <a href="mailto:madrid4842@gmail.com">send me an email</a>.</p>
                </div>
            </section>
        </main>
        <footer>
            Created by Noah Madrid, 2021
        </footer>
    </body>
</html>
